.swiper-pagination-bullet-active {
  background: #bf9856 !important;
}

html {
  scroll-behavior: smooth;
}
#about {
  scroll-margin-top: 30px;
}
#categories {
  scroll-margin-top: 30px;
}
#services {
  scroll-margin-top: 30px;
}
#contact {
  scroll-margin-top: 30px;
}

