.swiper-pagination-bullet-active {
  background: #bf9856 !important;
}

html {
  scroll-behavior: smooth;
}
.hidden{
  display: none;
}
.img-container:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#about {
  scroll-margin-top: 30px;
}
#categories {
  scroll-margin-top: 30px;
}
#services {
  scroll-margin-top: 30px;
}
#contact {
  scroll-margin-top: 30px;
}
.modal {
  display: none;
}
.modal:target {
  display: flex;
}
